.pdfContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pdf {
  margin: 20px;
  overflow: hidden;
  height: 200px;
  width: 200px;
}
